body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Mrcrosoft Yahei",Arial;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border:none;
}

body{
    color: #3e3e3e;
}
//头部header
.header{
    width:100%;
}
.header_con{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
//logo图标
.header_con h1{
    width: 194px;
    height:30px;
    padding: 15px 0;
}
//内容部分section
.section{
    width: 100%;
    height: 700px;
    text-shadow: #fff 0 1px 0;
    border-top: 1px solid #e5e5e5;
}
.section_con{
    width: 100%;
    height: 560px;
    padding: 70px 0;
    background: url(../../img/login_bg.jpg) no-repeat center #f7f2e9;
    position: relative;
}
//登陆面板
.login_panel{
    position: absolute;
    top: 70px;
    right: 35px;
    width: 420px;
    height: 560px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 0 20px #c8c8c8;
    background: #fff;
}
.login_tab{
    height: 52px;
}
.login_tab li a{
    color: #afafaf;
    float: left;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f7f7f9;
    line-height: 50px;
    background: #f7f7f9;
}
.login_tab .active{
   color: #464646;
    text-decoration: none;
    font-weight: 700;
    border-color: #464646;
}
//输入框
.login_form{
    width: 302px;
//  height: 210px;
    margin: 30px auto 0;
}
.login_form ul li:first-child label,.login_form ul li:nth-of-type(3) label{
    display: block;
    color: #d2041f;
    line-height: 12px;
    font-size: 12px;
    padding: 0 40px 0 20px;
    position: relative;
}
.login_form b{
    width: 12px;
    height: 12px;
    background: url(../../img/login_sprite.png) -200px 0 no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.login_form ul li span{
    color: #d2041f;
    line-height: 12px;
    font-size: 12px;
}
.login_form ul li:nth-of-type(2),.login_form ul li:nth-of-type(4){
    position: relative;
    margin-top: 20px;
}
#username,#admin,#authCode_phone{
    $width:280px;
    width: $width;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d8d8d8;
    color: #464646;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
}
#authCode_phone{
    width: 165px;
    float: left;
}
.login_form ul li:nth-of-type(3){
    margin-top: 15px;
    margin-bottom: -5px;
}
.login_form ul li:nth-of-type(2) label,.login_form ul li:nth-of-type(4) label{
    color: #afafaf;
    padding: 0 3px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    font-size: 12px;
    position: absolute;
    left: 8px;
    top: 9px;
    cursor: text;
}
//获取验证码
.phone_login_authCode{
    color: #464646;
    display: block;
    float: right;
    text-shadow: none;
    font-size: 13px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    background: #f7f7f9;
    border: 1px solid #ccc;
    text-align: center;
}
//找回密码
.findpwd a{
    color: #464646;
    float: right;
    font-size: 14px;
}
.findpwda{
    padding: 20px 0;
}
//登陆
.login_form ul li:last-child{
    clear:both;
    margin-top: 61px;
}
.login_btn{
    float: left;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: url(../../img/login_sprite.png) 0 -40px no-repeat;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.login_btn:hover{
    background-position: 0 -90px;
}
.login_extinfo{
    width: 300px;
    margin: 30px auto;
    padding: 30px 0 25px 0;
    clear: both;
}
.login_extinfo dt{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: -15px 0 25px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}
.login_extinfo dt span{
    position: absolute;
    left: 50%;
    top: 10px;
    margin: 0 0 0 -65px;
    background: #fff;
    width: 130px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
}
.login_extinfo_bd{
    width: 270px;
    margin: 0 auto;
    clear: both;
    display: block;
}
.login_extinfo_bd li{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    overflow: hidden;
    zoom: 1
}
.login_extinfo_bd li:last-child{
    margin-right: 0;
}
.login_extinfo_bd li a{
    opacity: .8;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../../img/login_sprite.png) no-repeat;
    transition: all .3s;
}
.login_extinfo_bd li:nth-of-type(2) a{
   background-position: -30px 0;
}
.login_extinfo_bd li:nth-of-type(3) a{
   background-position: -60px 0;
}
.login_extinfo_bd li:nth-of-type(4) a{
   background-position: -90px 0;
}
.login_extinfo_bd li:nth-of-type(5) a{
   background-position: -120px 0;
}
.login_extinfo_bd{
    width: 270px;
    height: 30px;
    margin: 0 auto;
}
.login_agreement{
    width: 100%;
    color: #afafaf;
    font-size: 12px;
    clear: both;
    text-align: center;
}
.login_agreement a{
    font-size: 12px;
    color: #005ba1;
}
//扫码登录
.saoma{
    width: 85px;
    height: 25px;
    position: absolute;
    right: 55px;
    bottom: 12px;
    z-index: 100;
    background: url(../../img/login_sprite.png) 0 -360px no-repeat;
    z-index: 100;
}
.erm{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../../img/login_sprite.png)0 -400px no-repeat;
    z-index: 100;
}
.footer{
    width: 1200px;
    margin: 10px auto 0;
    color: #464646;
}
//底部
.footer{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}
.footer a{
    color: #464646;
}
.footer b{
    font-weight: 400;
    color: #999;
    padding: 0 5px;
}
//版权
.footer_copyright{
    text-align: center;
    padding-top: 10px;
    color: #999;
    font-size: 14px;
}
.footer_copyright a{
    color: #999;
}
.footer_copyright a:hover{
    text-decoration: underline;
}
//选项卡设置
.login_tab a:hover{
    color: #464646;
    border-bottom: 2px solid #464646;
    font-weight: 700;
}
.login_form ul{
    display: none;
}
.authCode_phone{
    width: 280px !important;
    height: 24px;
    line-height: 24px;
    border: 1px solid #d8d8d8;
    color: #464646;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
}
.findpwd a:nth-of-type(2){
    float: right;
}
.findpwd .reg{
    float: right;
    font-size: 14px;
    color: #464646;
    margin-top: 20px;
}
.findpwd .reg a:first-child{
    float: left;
}
.findpwd .reg a:last-child{
    float: right;
    cursor: help;
}
.reg a:last-child:hover{
    text-decoration: underline;
}
.login_form .active{
    display: block;
}
.smdl_hd{
    padding: 30px;
}
.smdl{
    padding: 10px;
    width: 170px;
    height: 170px;
    margin: 0 auto;
}
.app{
    font-size: 14px;
}
.reg2{
    color: #afafaf;
    text-align: center;
    margin: 20px 0;
}
.reg2{
    color: #005ba1;
}
